/***** DEFAULTS *****/
.left { float: left; }
.right { float: right; }
.hide { display: none; }
.invisible { visibility: hidden; }
.no-scroll { overflow: hidden; }
.pad-top-20 { padding-top: 20px; }
.pad-top-30 { padding-top: 30px; }
.pad-top-50 { padding-top: 50px; }
.background-light { background-color: #FEF0F1; }
.pointer { cursor: pointer; }
.greyscale { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: url(grayscale.svg); filter: gray; }
.clear { clear: both; }
.block { display: block; }
.relative { position: relative; }

/***** Tabs *****/
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 0; float: right; width: 40em;}

/***** FORMS *****/
.custom-form { text-align: center; }
.custom-form .custom-form-row { width: 70%; display:inline-block; margin: 4px 0; }
.custom-form .custom-form-row input { width: 100%; }
.custom-form .custom-row-firstname, .custom-form .custom-row-lastname { width: 35%; }
.custom-form .custom-row-terms-and-conditions label { color: white; cursor: pointer; }
.custom-form .custom-row-terms-and-conditions input { width: auto; }
.custom-form .form-errors {  width: 60%; margin: 0 auto; }
.custom-form span.error { color: red; font-weight: bold; font-size: 16px; }
.custom-form .account-submit { font-weight: bold; }

.login-form-popup { width: 30%; height: 300px; }
.login-form-popup .login { padding-bottom: 50px; background-color: white; border-radius: 10px; }
.login .login-title { font-weight: bold; color: white; background-color: #ea474b; border-bottom: 1px solid; padding: 20px 0 10px 30px; margin-bottom: 20px; height: 80px; }
.login .forgot-your-password { color: #ea474b; font-weight: bold; padding-top: 10px; }
.login .close-action { padding-right: 30px; font-size: 150%; cursor: pointer; }
.login .login-form-row input { height: 45px; border: 1px solid #ccc; border-bottom: 5px solid #ccc; border-radius: 5px; margin-bottom: 5px; padding-left: 50px;}
.login .custom-row-submit input { height: 55px; padding-left: 0; border-color: #D91C21 !important; margin-top: 15px; }
.login .custom-row-email input { background: url(../img/user.png) no-repeat 10px 6px; }
.login .custom-row-password input { background: url(../img/lock.png) no-repeat 10px 6px; }

.login-form-container { width: 30%; padding: 150px 0 100px 0; margin: 0 auto; }

/***** Pop-Ups *****/
.popup-overlay { position: fixed; top: 0; left: 0; background: rgba(0,0,0,0.6); z-index: 15; width: 100%; height: 100%; }
.popup-container { position: fixed; z-index: 20; top: 0; bottom: 0; left: 0; right: 0; margin: auto; }

/***** ACCOUNT SECTION *****/
.header-account-container { padding: 0 20px; }
.header-login-section .login-action { padding: 1em 3em; }
.header-account-section .account-username i { padding-right: 5px; }
.header-account-section .account-username { font-weight: bold !important; color: #ea474b !important; text-align: center; padding-left: -20px; }
.header-account-section .account-links { position: absolute; right: 0; top: 75px; background-color: white; border: 1px solid #ea474b; list-style: none; margin-left: 0; width: 200px; border-radius: 5px; }
.header-account-section .account-links:after, .header-account-section .account-links:before { bottom: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.header-account-section .account-links:before { border-color: rgba(194, 225, 245, 0); border-bottom-color: #ea474b; border-width: 16px; margin-left: -16px; }
.header-account-section .account-links li {  font-weight: bold; border-bottom: 1px solid #ea474b; }
.header-account-section .account-links li.last { border-bottom: none; }
.header-account-section .account-links a { padding: 7px 0 7px 20px; font-weight: bold; color: #ea474b; display: block;}
.header-account-section .account-links a i { width: 20px; }
.header-account-section .account-links a:hover { background-color: #ea474b; color: white; }
.header-account-section .account-links a.first:hover { border-radius: 5px 5px 0 0; }
.header-account-section .account-links a.last:hover { border-radius: 0 0 5px 5px; }

/**** HOMEPAGE *****/
.hero-content .hero-button { padding: 20px 60px; font-weight: bold; }
.hero-content p { padding: 0 7% 40px 7%; color: white; font-size: 150%; text-align: left; width: 75%; margin: 0 auto; text-align: center; }
.strong-points .intensity { background: url(../img/home/intensity.jpg) no-repeat; }
.strong-points .challenges { background: url(../img/home/challenge.jpg) no-repeat; }
.strong-points .design { background: url(../img/home/design.jpg) no-repeat; }
.strong-points .reach { background: url(../img/home/reach.jpg) no-repeat; }
.strong-points .home-content.control { background: url(../img/home/control.jpg) no-repeat; background-size: 101% 101%; height: 730px; }
.strong-points .home-content { background-size: 101% 101%; height: 612px; position: relative; border-bottom: 3px solid white; }
.strong-points .home-content h2, .strong-points .home-content p { color: white; } 
.strong-points .home-content h2 { font-weight: bold; }
.strong-points .home-content p { font-size: 120%; }
.strong-points .strong-point-content { width: 30%; position: absolute; top: 35%; left: 50px; }
.strong-points .strong-point-content.right { text-align: right; left: initial; top: 35%; right: 50px; }
.strong-points .design .strong-point-content { top: initial; bottom: 20px; left: 21%; width: 40%; text-align: right; }
.strong-points .control .strong-point-content { top: 25%; }
.strong-points .strong-point-content a { color: white; text-decoration: underline; line-height: 50px; }
.home-cta { height: 400px; text-align: center; padding-top: 120px; }
.home-cta h2 { color: #ea474b; font-size: 42px; font-weight: bold; padding-bottom: 25px; }
.home-cta button { padding: 20px 100px; font-weight: bold; }
.home-cta .craby { background: url(../img/craby.png) no-repeat; width: 100px; height: 100px; background-size: 100%; position: absolute; top: 0; margin-top: -40px; margin-left: -40px; transform: rotate(-30deg); }

/***** PRICING *****/
.pricing-container .pricing-header { background: url(../img/pricing-background.png); height: 420px; }
.pricing-container .pricing-header-content { height: 200px; padding-top: 150px; text-align: center; color: white; }
.pricing-container .pricing-header-content h2 { text-transform: uppercase; font-weight: bold; }
.pricing-container .pricing-header-content p { color: white; width: 50%; margin: 0 auto; padding-bottom: 30px; }
.pricing-container .pricing-header-content input { color: #ea474b !important; background-color: white; font-weight: bold; padding: 20px 50px; }

.pricing-section { text-align: center; padding: 50px 0; }
.pricing-section .option { width: 25%; display: inline-block; border: 1px solid #ea474b; border-radius: 15px; }
.pricing-section .disclaimer { font-size: 18px; font-weight: bold; text-align: center; }
.pricing-section .option-puddle { border-right: none; margin-right: -5px; border-radius: 15px 0 15px 15px; }
.pricing-section .option-lake { background-color: #FEF0F1; width: 30%; border-width: 3px; background-image: url(../img/most-popular.png); background-repeat: no-repeat; }
.pricing-section .option-ocean { border-left: none; margin-left: -4px; border-radius: 0 15px 15px 15px; }
.pricing-section .option-lake .option-image { height: 200px; }
.pricing-section .option-lake .option-image img { margin-top: 30px; }
.pricing-section .option-image { margin-top: 30px; height: 130px; }
.pricing-section .option-title p { font-size: 20px; color: #ea474b; font-weight: bold; text-transform: uppercase; }
.pricing-section .option-price span { font-size: 12px; }
.pricing-section .option-benefits { padding-top: 20px; height: 700px; margin: 20px; border-top: 1px solid #ea474b; }
.pricing-section .option-benefits h5 { text-align: left; padding: 15px 0 0 30px; }
.pricing-section .option-buy { margin: 50px 0; }
.pricing-section ul.benefits,
.pricing-section ul.comming-soon { list-style: none; margin: 0; text-align: justify; }
.pricing-section ul.benefits li,
.pricing-section ul.comming-soon li { padding: 5px 0 5px 30px; width: 80%; margin: 0 auto; background: url(../img/check.png) no-repeat 0 5px; font-size: smaller; text-align: left; }
.pricing-section ul.comming-soon li { background: url(../img/appointment.png) no-repeat 0 7px; }

/***** CHECKOUT *****/
.checkout { background: url(../img/checkout-background.png); min-height: 600px; padding: 140px 0 70px 0; text-align: center; }
.checkout .global-messages-container { margin-left: 20px; }
.checkout .checkout-register { width: 30%; display: inline-block; background-color: white; padding: 70px; -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64); -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64); box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64); border-radius: 10px; }
.checkout .register-form-row { padding-bottom: 5px; }
.checkout .custom-row-submit-action { padding-top: 50px; }
.checkout .custom-form .custom-form-row { width: 99%; }
.checkout .custom-form .custom-row-firstname, 
.checkout .custom-form .custom-row-lastname { width: 49%; }
.checkout .custom-row-terms-and-conditions label { color: black; }
.checkout .title, .checkout .price {padding-bottom: 20px; font-weight: bold; }
.checkout .checkout-register .form-errors { width: 100%; padding-bottom: 10px; }
.checkout .checkout-register .form-errors span { font-size: 12px; }

.checkout .checkout-form { width: 40%; display: inline-block; background-color: white; -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64); -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64); box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.64); border-radius: 10px; margin: 10px 200px; }
.checkout .checkout-billing .subtitle { background-color: #CCC; padding: 15px 50px 5px 50px; margin: 15px 0;font-weight: bold; text-align: left; color: black; height: 60px; }
.checkout .checkout-billing .checkout-form-row { width: 70%; border-radius: 8px; }
.checkout .checkout-billing .checkout-form-row.custom-row-submit-action { width: 40%; margin-bottom: 50px; padding-top: 30px; }
.checkout .checkout-billing .checkout-form-row.custom-row-plan { margin-bottom: 50px; text-align: center; width: 100%; }
.checkout .checkout-billing .checkout-form-row.custom-row-plan .checkout-plan { display: inline-block; width: 30%; border: 2px solid #CCC; border-radius: 10px; padding-bottom: 10px; }
.checkout .checkout-billing .checkout-form-row.custom-row-plan .checkout-plan.selected { border-color: #FD8B8E; background-color: #FD8B8E; }
.checkout .checkout-billing .visible-plan span { display: block; padding: 0;}
.checkout .checkout-billing .visible-plan span.title { padding-top: 10px; }
.checkout .checkout-billing .visible-plan span.price { line-height: 22px; }
.checkout .checkout-billing .visible-plan span.price.double { padding-top: 22px; }
.checkout .checkout-billing .checkout-form-row input { border-radius: 8px; }
.checkout .plan-form .subtitle h4 { background: url(../img/plan.png) no-repeat top right; background-position: 65px; }
.checkout-form .period-label { display: inline-block; font-size: 18px; margin-right: 20px; } 
.checkout-form .period-label i { padding: 0 5px; font-size: 20px; }
.checkout-form .period-element { margin-top: 20px; }
.checkout-form .period-element .row { display: inline-block; padding-right: 15px; }
.checkout-form .period-element label { cursor: pointer; vertical-align: top; display: block; float: right; line-height: 20px; padding-left: 5px; }
.checkout-form .period-element a { display: inline-block; }
.checkout-payment-form .subtitle h4 { background: url(../img/credit-card.png) no-repeat top right; background-position: 70px 2px; width: 150px; }
.checkout-payment-form .pay-pal-action { border: 1px solid black; padding: 5px 15px; border-radius: 5px; margin-left: 5px; cursor: pointer; font-family: verdana; font-style: italic; font-size: 110%; }
.checkout-payment-form .pay-pal-action:hover { background-color: white; }
.checkout-payment-form .pay-pal-action { background: url(/img/paypal.png) no-repeat 10px 7px; width: 80px; display: block; height: 30px; float: right; background-size: 60px; }
.checkout-payment-form .custom-row-fullname input { background: url(../img/id.png) no-repeat 10px; }
.checkout-payment-form .custom-row-card_number input { background: url(../img/card-number.png) no-repeat 10px; }
.checkout-payment-form .custom-row-expiry_date input { background: url(../img/calendar.png) no-repeat 10px; }
.checkout-payment-form .custom-row-cvc input { background: url(../img/cvc.png) no-repeat 10px; }
.checkout-payment-form .custom-row-fullname input,
.checkout-payment-form .custom-row-card_number input,
.checkout-payment-form .custom-row-expiry_date input,
.checkout-payment-form .custom-row-cvc input { padding: 5px 0 5px 55px; letter-spacing: 2px; }
.checkout-payment-form .custom-row-expiry_date, 
.checkout-payment-form .custom-row-cvc { width: 35%; }

/***** DASHBOARD *****/
.dashboard-section { width: 100%; height: 100%; overflow: hidden; position: relative; min-height: 640px; }
.dashboard-menu-container { width: 110px; height: 100%; position: absolute; top: 0; left: 0; }
.dahsboard-menu { list-style: none; background-color: #ea474b; margin: 0; text-align: center; height: 100%; }
.dahsboard-menu li { }
.dahsboard-menu li a { padding: 15px 10px; color: white; font-weight: bold; width: 100%; height: 100%; display: block; }
.dahsboard-menu li a.selected, .dahsboard-menu li a:hover { color: #ea474b; background-color: white; }
.dahsboard-menu li i { padding: 0 10px; font-size: 22px; display: block; }
.dashboard-content { padding: 0 0 50px 140px; }

/***** Global Messages *****/
.global-messages { list-style: none; margin: 10px 20px 20px 0; }
.global-messages li { border: 1px solid; margin-bottom: 5px; padding: 3px 0; }
.global-messages li i { padding: 0 10px; }
.global-messages li.success { color: #57894c; border-color: #57894c; background-color: #cdeacb; }
.global-messages li.notice { color: #be6c00; border-color: #be6c00; background-color: #fcf6de; }
.global-messages li.error { color: #fe0000; border-color: #fe0000; background-color: #f6d3cf; }

/***** Campaigns *****/
.campaign-view .campaign-view-title { color: #ea474b; margin-bottom: 10px; }
.campaign-view .campaign-view-title h2 { display: inline-block; }
.campaign-view .campaign-view-title span.status { display: table-cell; float: right; margin-left: 15px; margin-top: 8px; font-size: small; }
.campaign-view .campaign-view-title .status-dot { border-radius: 50%; width: 8px; height: 8px; display: inline-block; }
.campaign-view .campaign-view-title .status-active { color: #2ECC40; }
.campaign-view .campaign-view-title .status-active .status-dot { background-color: #2ECC40; }
.campaign-view .campaign-view-title .status-paused { color: #FFDC00; }
.campaign-view .campaign-view-title .status-paused .status-dot { background-color: #FFDC00; }
.campaign-view .campaign-view-title .status-canceled { color: #FF4136; }
.campaign-view .campaign-view-title .status-canceled .status-dot { background-color: #FF4136; }
.campaign-view .campaign-view-title .status-complete { color: #3D9970; }
.campaign-view .campaign-view-title .status-complete .status-dot { background-color: #3D9970; }

.campaign-view .campaign-view-actions { padding-right: 15px; }
.campaign-view .campaign-view-actions a { margin: 0 5px; }
.campaign-view .campaign-view-action { padding: 8px 15px; }
.campaign-view .campaign-view-action i { padding: 0 5px; }
.campaign-view .campaign-view-content { clear: both; padding-bottom: 25px; }
.campaign-view .campaign-tabs ul { list-style: none; text-align: left; margin: 0; border-bottom: 1px solid #ea474b; margin-right: 20px; }
.campaign-view .campaign-tabs li.ui-state-default { display: inline-block; }
.campaign-view .campaign-tabs li.ui-state-default a { display: block; padding: 3px 15px; }
.campaign-view .campaign-tabs li.ui-state-active { background-color: #ea474b; border-radius: 10px 10px 0 0; }
.campaign-view .campaign-tabs li.ui-state-active a { color: white; font-weight: bold; }
.campaign-view .campaign-tab { padding-top: 20px; }
.campaign-view .campaign-form-row { clear: both; }
.campaign-view .campaign-form-row .field { padding-bottom: 20px; width: 505px; }
.campaign-view .campaign-form-row i { padding-top: 6px; cursor: pointer; }
.campaign-view .campaign-form-row .field i { padding-left: 12px; }
.campaign-view .campaign-form-row .comment { margin: 0 !important; text-align: justify; display: none; padding-left: 40px; }
.campaign-view .campaign-form-row label { display: inline-block; padding: 3px 0 3px 20px; color: #999; width: 200px; word-wrap: break-word; }
.campaign-view .campaign-form-row textarea { padding: 0 0 0 5px !important; height: 30px; overflow: hidden; margin-left: -5px; }
.campaign-view .campaign-form-row input,
.campaign-view .campaign-form-row textarea,
.campaign-view .campaign-form-row select { width: 300px; padding-left: 10px; border: 0; border-bottom: 1px solid #999; color: #999; border-radius: 0; font-family: "Open Sans"; max-width: 500px; background-color: white; }
.campaign-view .campaign-form-row input.jq-datetimepicker { background: url(../img/calendar.png) no-repeat 98%; background-size: 25px; cursor: pointer; }
.campaign-view .campaign-form-row input:focus,
.campaign-view .campaign-form-row textarea:focus,
.campaign-view .campaign-form-row select:focus { border-bottom: 2px solid #ea474b; }
.campaign-view .campaign-form-row input:read-only { border-bottom: 1px dashed #999; color: #999; }
.campaign-view .campaign-form-row select { margin-left: -5px; padding-left: 5px; }
.campaign-view .campaign-form-row option { background-color: white; }
.campaign-view .campaign-form-row .radio-element { display: inline; }
.campaign-view .campaign-form-row .radio-element label { color: #333; padding-left: 35px; text-align: left; min-width: 0; width: 120px; }
.campaign-view .campaign-form-row .radio-element input { margin: 0 10px; display: none; }
.campaign-view .campaign-form-row .radio-element input + label { background: url(../img/radio-off.png) no-repeat 0 8px; cursor: pointer; }
.campaign-view .campaign-form-row .radio-element input:checked + label { background: url(../img/radio-on.png) no-repeat 0 8px; }
.campaign-view .campaign-form-row input.uploader { margin-top: 10px; border: 0; padding-left: 20px; }
.campaign-view .campaign-form-row .file-button { margin-left: 10px; float: right; padding: 7px; margin-top: 10px; border-radius: 0; }
.campaign-view .campaign-form-row .remove-file { margin-right: 5px; }
.campaign-view .file-upload-wrapper { display: inline; }
.campaign-view .file-upload-wrapper img { float: right; height: 33px; margin: 10px 0 20px 10px; cursor: pointer; }
.campaign-view .file-upload-wrapper button { margin-bottom: 20px; }

.campaign-view .campaign-section-overview iframe { height: auto; width: 70%; }
.campaign-view .campaign-section-overview .direct-link { margin-bottom: 10px; }
.campaign-view .campaign-section-overview .sharing-options { margin-left: 20px; width: 25%; }
.campaign-view .campaign-section-overview .fb-share-button { transform: scale(1.35); -ms-transform: scale(1.35); -webkit-transform: scale(1.35); -o-transform: scale(1.35); -moz-transform: scale(1.35); transform-origin: bottom left; -ms-transform-origin: bottom left; -webkit-transform-origin: bottom left; -moz-transform-origin: bottom left; -webkit-transform-origin: bottom left; }
.campaign-view .campaign-section-overview .option { float: left; margin-right: 30px; }
/***** Prizes *****/
.campaign-view .prize-header { background-color: #ea474b; padding: 10px; margin-bottom: 20px; color: white; cursor: pointer; }
.campaign-view .close-prize { background-color: white; color: #ea474b !important; margin-left: 10px; font-size: small; padding: 8px; border: none; float: right; }
.campaign-view .add-prize-action { background-color: #ea474b; padding: 11px; margin-right: 20px; font-weight: bold; color: white; cursor: pointer; position: fixed; right: 0; top: 136px; width: 200px; }
.campaign-view .add-prize-action i { padding: 0 10px; }
.campaign-view .row-prize { background-color: #FFE7E8; margin: 0 240px 20px 0; }
.campaign-view .row-prize label { color: #777; }

/***** Widgets *****/
.campaign-view .applied-widgets { margin: 0 270px 20px 0; }
.campaign-view .applied-widget { margin-bottom: 20px; }
.campaign-view .applied-widget-row { min-height: 60px; }
.campaign-view .applied-widget-row label { color: white; }
.campaign-view .widget-header { padding: 10px; color: white; margin-bottom: 20px; cursor: pointer; }
.campaign-view .close-widget { background-color: white; margin-left: 10px; font-size: small; padding: 8px; border: none; float: right; }
.campaign-view .active-widgets { position: fixed; width: 250px; right: 0; top: 136px; }

.campaign-view .widget-action-add { background-color: #ea474b; padding: 10.5px; margin-right: 20px; font-weight: bold; color: white; }
.campaign-view .widget-action-add i { padding: 0 10px; }
.campaign-view .available-widgets { border: none !important; }
.campaign-view .available-widgets li { cursor: pointer; padding: 5px 20px; background-color: #FCD9DB; }

.campaign-view .widget-type-entercontest { background-color: #FFBEB5; }
.campaign-view .widget-type-entercontest .widget-header { background-color: #EB6D5E; }
.campaign-view .widget-type-entercontest .close-widget { color: #EB6D5E !important; }
.campaign-view .widget-type-entercontest input:focus { color: #EB6D5E; border-color: #EB6D5E; }

.campaign-view .widget-type-reference { background-color: #957B71; }
.campaign-view .widget-type-reference .widget-header { background-color: #3B2A23; }
.campaign-view .widget-type-reference .close-widget { color: #3B2A23 !important; }
.campaign-view .widget-type-reference input:focus { color: #3B2A23; border-color: #3B2A23; }

.campaign-view .widget-type-twittertweet { background-color: #AED9FA; }
.campaign-view .widget-type-twittertweet .widget-header { background-color: #55ACEE; }
.campaign-view .widget-type-twittertweet .close-widget { color: #55ACEE !important; }
.campaign-view .widget-type-twittertweet input:focus { color: #55ACEE; border-color: #55ACEE; }

.campaign-view .widget-type-twitterfollow { background-color: #64CFF8; }
.campaign-view .widget-type-twitterfollow .widget-header { background-color: #0084B4; }
.campaign-view .widget-type-twitterfollow .close-widget { color: #0084B4 !important; }
.campaign-view .widget-type-twitterfollow input:focus { color: #0084B4; border-color: #0084B4; }

.campaign-view .widget-type-visitpage { background-color: #CAEF80; }
.campaign-view .widget-type-visitpage .widget-header { background-color: #8DBD2B; }
.campaign-view .widget-type-visitpage .close-widget { color: #8DBD2B !important; }
.campaign-view .widget-type-visitpage input:focus { color: #8DBD2B; border-color: #8DBD2B; }

.campaign-view .widget-type-facebookshare { background-color: #C2CEE8; }
.campaign-view .widget-type-facebookshare .widget-header { background-color: #627AAD; }
.campaign-view .widget-type-facebookshare .close-widget { color: #627AAD !important; }
.campaign-view .widget-type-facebookshare input:focus { color: #627AAD; border-color: #627AAD; }

/***** Listing *****/
.campaign-listing .campaigns-title h2 { display: inline; padding-right: 20px; color: #ea474b; }
.campaign-listing .campaigns-title i { padding-right: 10px; font-size: 120%; }
.campaign-listing .campaigns-content { margin-top: 25px; }
.campaign-listing .campaign { width: 30%; display: inline-block; margin: 20px 10px 0 10px; position: relative; line-height: 0; }
.campaign-listing .campaign img { max-height: 200px; width: 100%; }
.campaign-listing .campaign .title { position: absolute; bottom: 0; left: 0; width: 100%; padding-left: 5px; opacity: 0.7; color: #444; font-weight: bold; z-index: 10; background-color: white; line-height: 25px; }
.campaign-listing .status-overlay { width: 100%; height: 100%; background-color: white; opacity: 0.8;   position: absolute; top: 0; left: 0; text-align: center; }
.campaign-listing .status-overlay i { font-size: 300%; color: #444; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -20px; }
.campaign-listing .status-type-2 { background-color: white; }
.campaign-listing .status-type-3 { background-color: #cdeacb; }
.campaign-listing .status-type-4 { background-color: #f6d3cf; }

/***** Contact Page *****/
.contact-page .contact-header { background: url(../img/pricing-background.png); height: 300px; padding-top: 135px; text-align: center; }
.contact-page .contact-header h2 { color: white; font-weight: bold; text-transform: uppercase; }
.contact-page .contact-header p { color: white; width: 50%; font-size: 120%; margin: 0 auto; }
.contact-page form { width: 60%; margin: 25px auto; padding-left: 50px;}
.contact-page form .contact-form-row { padding-top: 10px; }
.contact-page form label { width: 150px; display: inline-block; background-color: #ea474b; text-align: center; color: white; font-size: 120%; text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4); height: 35px; }
.contact-page form input,
.contact-page form textarea { width: 500px; border-radius: 0; padding-left: 5px; }
.contact-page form textarea { height: 200px; }
.contact-page form button { width: 200px; margin-left: 450px; } 

/***** Upgrade Section *****/
.dashboard-content.upgrade-view { padding: 0 0 100px 110px; }
.upgrade .global-messages { margin-left: 20px; }
.upgrade .checkout-billing .checkout-form-row.custom-row-plan { width: 100%; text-align: center; }
.upgrade .checkout-billing .checkout-form-row.custom-row-plan .checkout-plan { display: inline-block; margin: 0 1%; width: 30%; border: 2px solid #FD8B8E; border-radius: 10px; }
.upgrade .checkout-billing .checkout-form-row.custom-row-plan .checkout-plan.selected { background-color: #FD8B8E; }
.upgrade .checkout-billing .checkout-plan { padding-bottom: 20px; }
.upgrade .checkout-billing .visible-plan img { padding-bottom: 20px; }
.upgrade .checkout-billing .visible-plan span { display: block; padding: 30px; }
.upgrade .checkout-billing .visible-plan span.title { padding-top: 15px; font-weight: bold; }
.upgrade .checkout-billing .visible-plan span.price { padding: 0; font-weight: bold; line-height: 25px; }
.upgrade .checkout-billing .visible-plan span.price.double { padding-top: 25px; }
.upgrade .upgrade-plan-action { margin-top: 50px; }
.upgrade-payment-form { width: 35%; height: 350px; background-color: white; }
.upgrade-payment-form .subtitle { background-color: #CCC; padding: 15px 50px 5px 50px; margin: 15px 0;font-weight: bold; text-align: left; color: black; height: 60px; }

/***** Entrants *****/
.entrants-box { padding-right: 20px; }
.entrants-box .entrants-actions { text-align: right; margin: 0 0 20px 0; }
.entrants-box .entrants-actions a { padding-left: 10px; }
.entrants-box table { border: 1px solid #999; border-radius: 5px;}
.entrants-box th { background-color: #CCC; color: #444; padding: 10px; text-align: center; text-shadow: 1px 1px white; }
.entrants-box th.first { border-radius: 4px 0 0 0; }
.entrants-box th.last { border-radius: 0 4px 0 0; }
.entrants-box td { border-right: 1px solid #CCC; border-bottom: 1px solid #CCC; text-align: center; padding: 5px; color: #444}
.entrants-box td.last { border-right: none; }
.entrants-box tr:nth-child(odd) { background-color: #F6F6F6; }
.entrants-box tr:last-child td { border-bottom: none; }
.entrants-box tr:last-child td.first { border-radius: 0 0 0 4px; }
.entrants-box tr:last-child td.last { border-radius: 0 0 4px 0 ; }
.entrants-box tr:hover { background-color: #DDD; }
.entrants-box td a { display: block; width: 100%; height: 100%; cursor: pointer; color: #0074D9; }
.entrants-box button { padding: 10px; }
.entrants-listing .entrants-actions { padding-top: 20px; }

.entrant-view .entrant-row { margin-bottom: 5px; width: 100%; clear: both; }
.entrant-view .entrant-row label { width: 150px; display: inline-block; text-align: right; margin-right: 20px; }
.entrant-view .entrant-row table { width: auto; }
.entrant-view .entrant-row th { border-bottom: 2px solid black; }
.entrant-view .entrant-row td { border-bottom: 1px dashed black; }
.entrant-view .entrant-row td.chances { text-align: center; }
.entrant-view .entrant-row tr.row:hover { background-color: #FFE7E8; }
.entrant-view .entrant-row th, .entrant-view .entrant-row td { padding-right: 30px; }
.entrant-view .prizes td { padding-right: 15px; }
.entrant-view .prizes img { height: 40px; width: 80px; }
.entrant-view .prizes .name { vertical-align: middle; }

/***** Footer *****/
.site-info { padding-bottom: 20px; font-size: smaller; }
.site-footer .copyright { color: #8c9398 !important; }
.site-footer .footer-links { list-style: none; display: inline; margin: 0; }
.site-footer .footer-links li { display: inline-block; padding-left: 10px; color: #8c9398; }
.site-footer .footer-links li:before { content: '|'; padding-right: 10px; }

/***** Winners *****/
.campaign-section-winners { margin-right: 20px; }
.campaign-section-winners .prizes-list { width: 20%; margin-right: 20px; }
.campaign-section-winners .winner-prize { display: inline-block; position: relative; height: 104px; border: 2px solid white; cursor: pointer; }
.campaign-section-winners .winner-prize img { max-height: 100px; width: 100%; }
.campaign-section-winners .winner-prize .number { position: absolute; top: 50%; color: #444; font-weight: bold; width: 100%; text-align: center; height: 32px; margin-top: -16px; font-size: 32px; line-height: 32px; }
.campaign-section-winners .winner-prize .title { position: absolute; bottom: 0; color: #444; background-color: white; width: 100%; opacity: 0.7; font-size: 12px; padding-left: 10px; }
.campaign-section-winners .winner-prize .overlay { background-color: white; height: 100%; width: 100%; position: absolute; top: 0; opacity: 0.4; }
.campaign-section-winners .winner-prize.selected { border-color: #ea474b; }
.campaign-section-winners .winner-prize.selected  .overlay { background-color: #ea474b; }
.campaign-section-winners .winner-prize.selected  .title { background-color: #ea474b; color: white; }
.campaign-section-winners .winner-prize.selected  .number { color: white; }
.campaign-section-winners .entrants-list { margin-right: 20px; overflow-y: auto; overflow-x: hidden; max-height: 350px; margin-bottom: 30px; }
.campaign-section-winners .winner-entrant { cursor: pointer; padding-right: 20px; width: 500px; }
.campaign-section-winners .winner-entrant span { width: 75px; display: inline-block; overflow: hidden; word-wrap: break-word; }
.campaign-section-winners span.email { width: 200px; margin-right: 20px; word-wrap: initial; }
.campaign-section-winners span i { padding-right: 5px; display: inline; }
.campaign-section-winners .choose-winner-actions { width: 20%; }
.campaign-section-winners .choose-winner-actions button { width: 100%; margin-bottom: 10px; text-align: left; }
.campaign-section-winners .choose-winner-actions button i { padding-right: 10px; }
.campaign-section-winners .prize-row { width: 30%; margin-right: 3%; margin-bottom: 30px; border: 2px solid #999; }
.campaign-section-winners .prize-row .prize-data { position: relative; height: 200px; cursor: pointer; }
.campaign-section-winners .prize-row .prize-data img { width: 100%; max-height: 200px; }
.campaign-section-winners .prize-row .prize-data span { position: absolute; bottom: 0; background-color: white; width: 100%; opacity: 0.7; padding-left: 10px; }
.campaign-section-winners .prize-row .prize-data i { font-size: 25px; }
.campaign-section-winners .prize-row .winners-data { height: 200px; overflow-y: auto; overflow-x: hidden; }
.campaign-section-winners .prize-row .winners-data span { width: 100%; display: inline-block; word-wrap: break-word; padding-left: 10px; }
.campaign-section-winners .prize-row .winners-data span:nth-child(odd) { background-color: #FFE7E8; }

.campaign-section-winners h4 { padding: 8px; margin-bottom: 20px; color: white; cursor: pointer; font-size: 18px; font-weight: bold; padding-left: 15px; }
.campaign-section-winners h4 i { float: right; font-size: 34px; padding-right: 5px; }
.campaign-section-winners h4 span { font-size: 10px; }
.campaign-section-winners h4.complete { background-color: #007034; }
.campaign-section-winners h4.finished { background-color: #FB6648; }
.campaign-section-winners h4.in-progress { background-color: #F38630; }

/***** Settings Page *****/
.settings .settings-menu { border-right: 1px solid #ea474b; height: 640px; list-style: none; margin-left: 0; width: 200px; padding-top: 20px; }
.settings .settings-actions button { margin-right: 20px; }
.settings .settings-menu li { padding-left: 20px; }
.settings .settings-menu li.ui-state-active:before { content:'\25BA'; color: #ea474b; margin-right: 5px; }
.settings .settings-menu li.ui-state-active { font-weight: bold; padding: 0; }
.settings .settings-menu li a { display: inline; }
.settings .custom-row-notifications { padding-top: 2 }
.settings .change-password .inputs input { display: block; margin-top: 10px; width: 200px; }
.settings .change-password .inputs .change-password-submit { padding: 10px; }

/***** Reset Password *****/
.reset-password { padding: 80px 25px 0 25px; }
.reset-password h3 { color: #ea474b; }
.reset-password hr { border-top: 1px solid #ea474b; }
.reset-password p { margin-bottom: 10px; }
.reset-password #initialize-password-reset button { margin-left: 5px; padding: 7px; }
.reset-password #change-password input,
.reset-password #change-password button { display: block; margin-top: 10px; width: 230px; font-size: 12px; }
.reset-password #change-password button { padding: 10px; }

/***** CMS Pages *****/
.cms-page { margin-top: 100px; padding: 20px 80px; }
.cms-page h4 { color: #ea474b; border-bottom: 1px solid #ea474b; padding: 10px 0; }
.cms-page p { color: #444; text-align: justify; }

/***** 404 & 500 Pages *****/
.page-404 .sky { height: 100%; width: 100%; background-color: #252161; position: absolute; bottom: 0; }
.page-404 .sand { height: 30%; width: 100%; background-color: #fae0ad; position: absolute; bottom: 0; }
.page-404 .ocean { height: 45%; width: 100%; background-color: #0066cc; position: absolute; bottom: 0; }
.page-404 .moon { height: 35%; width: 25%; background: url(../img/moon-and-stars.png) no-repeat right; position: absolute; top: 2%; right: 2%; background-size: auto 100%; }
.page-404 .cloud { height: 5%; width: 10%; background: url(../img/cloud.png) no-repeat left; position: absolute; background-size: auto 100%; }
.page-404 .cloud-1 { top: 10%; left: 15%; }
.page-404 .cloud-2 { top: 20%; left: 5%; }
.page-404 .tree { height: 60%; width: 60%; background: url(../img/palm-tree.png) no-repeat left; position: absolute; bottom: 0; left: -7%; background-size: auto 100%; }
.page-404 .ghettoblaster { height: 75%; width: 30%; background: url(../img/casetes.png) no-repeat left; position: absolute; bottom: 15%; left: 25%; background-size: auto 100%; }
.page-404 .sign { height: 30%; width: 20%; background: url(../img/sign.png) no-repeat right; position: absolute; bottom: 10%; right: 5%; background-size: auto 100%; }
.page-404 .blob { height: 30%; width: 30%; background: url(../img/blob-404.png) no-repeat right; position: absolute; bottom: 60%; right: 40%; background-size: auto 100%; }
.page-404 .waves { height: 12%; width: 130%; background: url(../img/wave.png); position: absolute; background-size: auto 100%; }
.page-404 .upper-waves { top: 0; right: 0; }
.page-404 .bottom-wawes { top: 15%; right: 10%; }
