.campaign-fullpage .requirement a { color: #4d4d4d; }
.campaign-fullpage .enter-contest-action { background-color: #4d4d4d; }
.campaign-fullpage .chance-entrant a span span { color: #4d4d4d; font-weight: bold; text-decoration: underline; }
.campaign-fullpage .widget-type-visitpage button { background-color: #4d4d4d; }
.campaign-fullpage .widget-type-facebookshare button { background-color: #4d4d4d; }
.campaign-fullpage .widget-type-reference .send-email button { background-color: #4d4d4d; }