.demo-notice { width: 100%; padding: 10px 0; background-color: #ea474b; color: white; font-weight: bold; text-align: center; position: relative; }
.demo-notice a { position: absolute; left: 10px; color: white; }
.demo-notice a i { padding: 0 10px; }

.campaign-demo .requirement a { color: #4d4d4d; }
.campaign-demo .enter-contest-action { background-color: #4d4d4d; }
.campaign-demo .chance-entrant a span span { color: #4d4d4d; font-weight: bold; text-decoration: underline; }
.campaign-demo .widget-type-visitpage button { background-color: #4d4d4d; }
.campaign-demo .widget-type-facebookshare button { background-color: #4d4d4d; }
.campaign-demo .widget-type-reference .send-email button { background-color: #4d4d4d; }