/***** Default *****/
.campaign-page .widgets-container { background: rgba(32,32,32,.7); }

/***** Prizes *****/
.campaign-fullpage-dark .prizes .prize-box .name { background-color: rgba(0, 0, 0, 0.5); color: #BFBFBF; }
.campaign-fullpage-dark .prizes .display-all-prizes { background-color: rgba(0, 0, 0, 0.5); color: #BFBFBF; }

/***** Widgets - General Layout *****/
.campaign-fullpage-dark .widget-title { background: rgba(37,37,37,1); background: -moz-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,37,37,1)), color-stop(100%, rgba(15,15,15,1))); background: -webkit-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%); background: -o-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%); background: -ms-linear-gradient(top, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%); background: linear-gradient(to bottom, rgba(37,37,37,1) 0%, rgba(15,15,15,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafdfd', endColorstr='#dae0e6', GradientType=0 ); color: #BFBFBF; border: 1px solid #2e2e2e; }
.campaign-fullpage-dark .widget-title.ui-state-active { border-bottom: 1px solid #2e2e2e; }
.campaign-fullpage-dark .widget-title .chances-count { color: #2e2e2e; background-color: #BFBFBF; }
.campaign-fullpage-dark .widget-content .widget-description { color: #BFBFBF; }
.campaign-fullpage-dark .field label { color: #BFBFBF; }
.campaign-fullpage-dark .field input { background-color: #141414; color: #BFBFBF; border: 1px solid #2e2e2e; }
.campaign-fullpage-dark .chance-entrant a { color: #BFBFBF; }
.campaign-fullpage-dark .chance-entrant span.row { color: #BFBFBF; }

/***** Enter Contest Widget *****/
.campaign-fullpage-dark .requirement label { color: #BFBFBF; }
.campaign-fullpage-dark .field .enter-contest-name { background: url(../../img/id-grey.png) no-repeat 10px 3px; border-radius: 5px 5px 0 0; border-bottom: 0; box-shadow: inset 0px 200px 11px -202px rgba(68,68,68,1); -webkit-box-shadow: inset 0px 200px 11px -202px rgba(68,68,68,1); -moz-box-shadow: inset 0px 200px 11px -202px rgba(68,68,68,1); margin-top: 20px; }
.campaign-fullpage-dark .field .enter-contest-email { background: url(../../img/mail.png) no-repeat 6px -1px; border-radius: 0 0 5px 5px;}
.campaign-fullpage-dark .field .enter-contest-name,
.campaign-fullpage-dark .field .enter-contest-email { background-color: #141414; }
