/***** Default *****/
.campaign-page .widgets-container { background: rgba(255,255,255,.7); }

/***** Prizes *****/
.campaign-fullpage-light .prizes .prize-box .name { background-color: rgba(255, 255, 255, 0.5); color: #444; }
.campaign-fullpage-light .prizes .display-all-prizes { background-color: rgba(255, 255, 255, 0.5); color: #444; }

/***** Widgets - General Layout *****/
.campaign-fullpage-light .widget-title { background: rgba(250,253,253,1); background: -moz-linear-gradient(top, rgba(250,253,253,1) 0%, rgba(218,224,230,1) 100%); background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,253,253,1)), color-stop(100%, rgba(218,224,230,1))); background: -webkit-linear-gradient(top, rgba(250,253,253,1) 0%, rgba(218,224,230,1) 100%); background: -o-linear-gradient(top, rgba(250,253,253,1) 0%, rgba(218,224,230,1) 100%); background: -ms-linear-gradient(top, rgba(250,253,253,1) 0%, rgba(218,224,230,1) 100%); background: linear-gradient(to bottom, rgba(250,253,253,1) 0%, rgba(218,224,230,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafdfd', endColorstr='#dae0e6', GradientType=0 ); color: #444; border: 1px solid #BBB;}
.campaign-fullpage-light .widget-title.ui-state-active { border-bottom: 1px solid #BBB; }
.campaign-fullpage-light .widget-title .chances-count { color: #f3f5f5; background-color: #444; }
.campaign-fullpage-light .widget-content .widget-description { color: #444; }
.campaign-fullpage-light .field label { color: #444; }
.campaign-fullpage-light .field input { background-color: #e2e4e4; color: #444; border: 1px solid #444; }
.campaign-fullpage-light .chance-entrant a { color: #444; }
.campaign-fullpage-light .chance-entrant span.row { color: #444; }

/***** Enter Contest Widget *****/
.campaign-fullpage-light .requirement label { color: #444; }
.campaign-fullpage-light .field .enter-contest-name { background: url(../../img/id-grey.png) no-repeat 10px 3px; border-radius: 5px 5px 0 0; border-bottom: 0; box-shadow: inset 0px 200px 11px -202px rgba(68,68,68,1); -webkit-box-shadow: inset 0px 200px 11px -202px rgba(68,68,68,1); -moz-box-shadow: inset 0px 200px 11px -202px rgba(68,68,68,1); margin-top: 20px; }
.campaign-fullpage-light .field .enter-contest-email { background: url(../../img/mail.png) no-repeat 6px -1px; border-radius: 0 0 5px 5px;}
.campaign-fullpage-light .field .enter-contest-name,
.campaign-fullpage-light .field .enter-contest-email { background-color: #e2e4e4; }
